<div class="Container">

    <div class="row align-items-center">

        <div class="welcomeMessage col align-items-center">

            <h1 class=" initialFont">Welcome To The Digital Nomad World !!</h1>
        </div>

        <div class="initialForm col bg-black mt-6">
            <h1 class="text-white align-items-center">DNW </h1>

            <form action="/auth/log-in" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Log-In</button>
                </div>

                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}
                <div class="text-white text-center">
                    <p>Not a member? <a href="/auth/sign-up">Register</a></p>
                </div>
            </form>
        </div>

    </div>
</div>