<div class="container mt-80">
    <h1>{{appTitle}}</h1>
    <p>Welcome To the Digital Nomad World !!</p>


    <a href="/auth/log-in" class="btn btn-dark">Log in</a>
    <a href="/auth/sign-up" class="btn btn-dark">Sign up </a>
    <a href="/auth/log-out" class="btn btn-dark">Log out </a>
</div>