body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(0, 0, 0);
  background: linear-gradient(145deg, rgba(0, 0, 0, 1) 0%, rgba(49, 47, 52, 1) 100%);
  font-family: 'Work Sans', 'Extra-bold', sans-serif;
  color: white;
}


h1 {
  color: 15px;
}

#exploreMap {
  height: 600px;
  background-color: red;
}

/* InfoWindow */

/* #infoBack {
  background-color: black;
  color: aliceblue
} */

/* Initial Form */
.initialForm {
  padding: 150px;
  padding-bottom: 250px;
  background-color: black;
}

.initialFont {
  width: 387.49px;
  height: 129.9px;
  left: 128px;
  top: 292px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 550;
  font-size: 40px;
  line-height: 83px;
}


/* Gallery  */

#containerg {
  width: 100%;
  max-width: 1000px;
  margin: 2em auto;
}

.box {
  margin-bottom: 20px;
  height: 200px;
  background: #BFBFBF;
  border-radius: 10px;
}

.cols {
  -moz-column-count: 6;
  -moz-column-gap: 3%;
  -moz-column-width: 30%;
  -webkit-column-count: 6;
  -webkit-column-gap: 3%;
  -webkit-column-width: 30%;
  column-count: 4;
  column-gap: 3%;
  column-width: 30%;
}

/* Profile */

.profilePic {

  border-radius: 40px;
  width: 50%;
}

.profileTitles {

  width: 387.49px;
  height: 129.9px;
  left: 128px;
  top: 292px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 70.4523px;
  line-height: 83px;
}

.placeImg {
  width: 50%;
}


/* #initialForm {

  padding: 20%;
} */

.initialForm {
  padding: 150px;
  padding-bottom: 250px;
  background-color: black;
}



.welcomeMessage {
  padding-left: 90px;
}

/* === removing default button style ===*/
.button {
  margin-left: 20px;
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}