<div class="container">

    <h1>Explore The best Places On the Map</h1>

    <figure id="exploreMap"></figure>

    <a href="/" class="btn btn-dark">Back to Homepage</a>
    <a href="/places/create" class="btn btn-dark">Add a New Place!</a>
</div>
{{!--
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> --}}
<script src="/js/exploreMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJjUzeG0WQ_oEe9YaRoUNWI-lhWdPB4oE&callback=initMap"></script>